@font-face {
  font-family: 'Hanken';
  src: url('/assets/result-summary/HankenGrotesk-VariableFont_wght.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

:host {
  display: flex;
  justify-content: center;
  font-family: Hanken;
}

.result {
  h3 {
    color: HSL(0, 0%, 80%);
  }

  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));

  .score-container {
    background-image: linear-gradient(
      hsla(256, 72%, 46%, 1),
      hsla(241, 72%, 46%, 0)
    );
  }

  .total {
    color: HSL(0, 0%, 80%);
  }

  .conclusion {
    color: HSL(0, 0%, 80%);
  }
}

.summary {
  .item {
    + .item {
      margin-top: 12px;
    }

    &:has(.reaction) {
      background-color: hsla(0, 100%, 67%, 0.1);
      color: hsla(0, 100%, 67%);
    }

    &:has(.memory) {
      background-color: hsla(39, 100%, 56%, 0.1);
      color: hsla(39, 100%, 56%);
    }

    &:has(.verbal) {
      background-color: hsla(166, 100%, 37%, 0.1);
      color: hsla(166, 100%, 37%);
    }

    &:has(.visual) {
      background-color: hsla(234, 85%, 45%, 0.1);
      color: hsla(234, 85%, 45%);
    }

    .memory .icon {
      background: url('/assets/result-summary/icon-memory.svg');
    }

    .reaction .icon {
      background: url('/assets/result-summary/icon-reaction.svg');
    }

    .verbal .icon {
      background: url('/assets/result-summary/icon-verbal.svg');
    }

    .visual .icon {
      background: url('/assets/result-summary/icon-visual.svg');
    }
  }

  .score {
    color: hsl(0, 0%, 50%);
    span {
      color: hsl(0, 0%, 0%);
    }
  }

  button {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));

    &:hover {
      background-image: none;
      background-color: hsl(224, 30%, 27%);
    }
  }
}
