<mat-toolbar class="!bg-sky-100">
  <header class="flex items-center">
    <button mat-icon-button [ngClass]="{ opened: sidenav.opened }" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <a class="text-xl font-semibold" routerLink="">Front End Challenges</a>
  </header>
</mat-toolbar>

<mat-sidenav-container class="!min-h-[calc(100vh-50px)]">
  <mat-sidenav #sidenav mode="over" closed class="!bg-slate-100 !w-52 border-r border-slate-200">
    <mat-nav-list *ngFor="let route of routes" class="!p-0">
      <a mat-list-item [routerLink]="route.path" disableRipple="true" routerLinkActive="active">
        {{ route.title }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>