@font-face {
  font-family: 'WorkSans-Italic';
  src: url('/assets/accordion/WorkSans-Italic-VariableFont_wght.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url('/assets/accordion/WorkSans-VariableFont_wght.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

.shell {
  height: 100%;
  padding: 0 16px;
  background-color: hsl(275, 100%, 97%);
  background-image: url('/assets/accordion/background-pattern-desktop.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;

  font-family: WorkSans;
  color: hsl(292, 42%, 14%);
}

details > summary::before {
  position: absolute;
  content: '+';
  right: 18px;
  background: hsl(293, 67%, 55%);
  color: white;
  border-radius: 50%;
  width: 24px;
  text-align: center;
  cursor: pointer;
}

details[open] > summary::before {
  position: absolute;
  content: '-';
  background-color: hsl(292, 43%, 31%);
  right: 18px;
  color: white;
  border-radius: 50%;
  width: 24px;
  text-align: center;
  cursor: pointer;
}
