$base-color-border: hsl(0, 0%, 80%);
$purple: hsl(259, 100%, 65%);
$light-red: hsl(0, 100%, 67%);
$off-black: hsl(0, 0%, 8%);

@font-face {
  font-family: 'Poppins';
  src: url('/assets/age-calculator/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('/assets/age-calculator/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:host {
  display: block;
  margin: 100px auto;
  max-width: 610px;
  font-family: 'Poppins';
}

.container {
  background-color: white;
  border-radius: 10px 10px 150px 10px;
  padding: 30px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  max-width: 550px;
}

.form-group {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.data {
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 140px;

  label {
    color: hsl(0, 0%, 50%);
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 3px;

    &.invalid {
      color: $light-red;
    }
  }

  input {
    height: 40px;

    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid $base-color-border;
    border-radius: 5px;

    &::placeholder {
      color: hsl(0, 0%, 60%);
    }

    &:focus {
      border-color: $purple;
    }

    &.ng-invalid,
    &.invalid {
      &.ng-touched,
      &.ng-dirty {
        border-color: $light-red;
      }
    }
  }

  .alert {
    margin-top: 4px;
    font-size: 12px;
    font-style: italic;
    color: $light-red;
  }
}

.button-container {
  text-align: center;

  hr {
    position: relative;
    top: 40px;
    height: 0;
    width: 100%;
    border-top: 1px solid $base-color-border;
  }

  .button {
    background-image: url('/assets/age-calculator/icon-arrow.svg');
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $purple;
    border-radius: 50%;
    border: none;
    padding: 30px;
    position: relative;
    cursor: pointer;
    z-index: 1;

    &:hover {
      background-color: $off-black;
    }
  }
}

.result {
  font-family: 'Poppins-Bold';
  font-size: 60px;
  font-style: italic;
  color: $off-black;

  span {
    color: $purple;
  }
}

@media only screen and (min-width: 600px) {
  .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    hr {
      top: 0px;
    }
  }

  .data {
    input {
      padding: 0 16px;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
